/* root */
:root {
  --main-pading: 100px;
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
/* end root */
/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-right: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* end global rules */