:root {
  --f-color: #317874;
  --s-color: #e2d2f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
/* start header */
header {
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-bottom: 2%;
  background-color: var(--f-color);
}
header > h3 {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 16px;
  color: var(--s-color);
}
header > i {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
  position: relative;
  color: var(--s-color);
}

header > i::before {
  top: 35%;
  position: absolute;
}

header > img {
  margin-right: 56%;
  width: 80px;

  height: 80px;
}
/* end header */
/* start recomend */
.recomend{
  width: 90%;
  display: flex;
  margin-left: 5%;
  margin-right: 10%
}
.recomend > .continer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--s-color);

}
/* end recomend */
/* start main */
.main-p-cont {
  width: 90%;
  background-color: var(--f-color);
}
.main-p {
  left: 2%;
  position: relative;
  color: var(--s-color);
}
.main-cont {
  display: grid;
  margin-left: 5%;
  margin-right: 10%;
  position: relative;
}

.main {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin-top: 2px;
  background: #f5f5f3;
}
.cont {
  margin-left: 20px;
  display: grid;
}
.cont > p {
  display: inline;
  position: relative;
  right: -35%;
  top: -80px;
  color: rgba(0, 0, 0, 0.664);
}
.cont > h3 {
  display: inline;
  position: relative;
  right: -35%;
  top: -90px;
  color: rgba(0, 0, 0, 0.664);
}

.cont p::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: rgb(95, 5, 5);
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  margin-right: 3px;
}

.main-cont > aside {
  height: 100%;
  width: 15%;
  background: #f5f5f3;
  position: absolute;
  right: -6%;
}

.main-cont > aside span {
  width: 100%;
  display: block;
  background-color: var(--f-color);
  color: var(--s-color);
  padding-left: 10px;
}

.main-cont > aside > .cont {
  width: 100%;
}
.main-cont > aside > .cont > img {
  display: block;
}
.main-cont > aside > .cont > h3 {
  display: inline-block;
  position: relative;
  top: 0%;
  left: 0%;
}
.main-cont > aside > .cont > p {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 0%;
  margin-bottom: 9px;
}
/* end main */